/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC   |  1  |  2  |  3   |  4   |  5   |                    |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB   |  Q  |  W  |  E   |  R   |  T   |                    |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL  |  A  |  S  |  D   |  F   |  G   |                    |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT  |  Z  |  X  |  C   |  V   |  B   |                    |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            // |    2   |  2  | f   | 6    | 4    | 1    |                    | 2    | 1     | w     | s    | n     |  a    |

            bindings = <
  &kp ESC    &kp N1    &kp N2     &kp N3     &kp N4    &kp N5  &kp N6     &kp N7     &kp N8        &kp N9     &kp N0   &kp PLUS
  &kp TAB     &kp Q     &kp W      &kp E      &kp R     &kp T   &kp Z      &kp U      &kp I         &kp O      &kp P  &kp LA(U)
&kp LSHFT     &kp A     &kp S      &kp D      &kp F     &kp G   &kp H      &kp J      &kp K         &kp L  &kp LA(O)  &kp LA(A)
   &kp LT     &kp Y     &kp X      &kp C      &kp V     &kp B   &kp N      &kp M  &kp COMMA       &kp DOT  &kp MINUS   &kp HASH
&kp LCTRL  &kp BSPC  &kp RALT  &kp CARET  &kp SPACE  &kp LALT   &mo 0  &kp GRAVE    &kp RET  &kp LEFT_GUI  &kp QMARK      &mo 1
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |                   |      |  _    |  +    |  {   |   }   |  "|"  |
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |

            bindings = <
       &kp ESC  &kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp DOLLAR    &kp DOLLAR     &kp PERCENT  &kp AMPS  &kp SLASH  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS         &kp EQUAL  &kp ASTERISK
       &kp TAB            &kp Q              &kp W       &kp E         &kp R           &kp T     &kp Z      &kp U                 &kp I                  &kp O             &kp P     &kp LA(U)
&kp LEFT_SHIFT            &kp A              &kp S       &kp D         &kp F           &kp G     &kp H      &kp J                 &kp K                  &kp L         &kp LA(O)     &kp LA(A)
 &kp LESS_THAN            &kp Y              &kp X       &kp C         &kp V           &kp B     &kp N      &kp M             &kp COMMA             &kp PERIOD         &kp MINUS      &kp HASH
&kp LEFT_ARROW           &trans    &kp RIGHT_ARROW      &trans  &kp UP_ARROW  &kp DOWN_ARROW     &mo 0  &kp GRAVE             &kp ENTER           &kp LEFT_GUI  &kp LA(QUESTION)         &mo 1
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
